pkgbase = system-install-scripts
	pkgdesc = System configuration install scripts
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	arch = any
	license = GPL-3.0-or-later
	depends = arch-install-scripts
	depends = nushell
	depends = paru
	source = system-install.nu
	source = pacstrap.conf
	sha256sums = 5cab1f74e4a710e2a05dad499067416f5de717b940a9a2d6b4ea82e605fd5e90
	sha256sums = 07e99fbbdee2d71f4548522d91832fa000bc6a313a92935eb2fea8669ea1ab31

pkgname = system-install-scripts
