pkgbase = system-install-scripts
	pkgdesc = System configuration install scripts
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	arch = any
	license = GPL-3.0-or-later
	depends = arch-install-scripts
	depends = nushell
	depends = paru
	source = system-install.nu
	source = pacstrap.conf
	sha256sums = eb95918f4362705f911f8bab0ed1756a57c19a497440884631ba1e2550762a12
	sha256sums = 07e99fbbdee2d71f4548522d91832fa000bc6a313a92935eb2fea8669ea1ab31

pkgname = system-install-scripts
