pkgbase = system-install-scripts
	pkgdesc = System configuration install scripts
	pkgver = 1.4.3
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	arch = any
	license = GPL-3.0-or-later
	depends = arch-install-scripts
	depends = nushell
	depends = paru
	source = system-install.nu
	source = pacstrap.conf
	sha256sums = decf76e25e3d7924b4130f31629ce252098cb061dc598c21e6645585421658d6
	sha256sums = 07e99fbbdee2d71f4548522d91832fa000bc6a313a92935eb2fea8669ea1ab31

pkgname = system-install-scripts
