pkgbase = system-coruscant
	pkgdesc = System configuration for coruscant
	pkgver = 1.2.4
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	install = system-coruscant.install
	arch = any
	license = GPL-3.0-or-later
	depends = system-base
	depends = vulkan-intel
	depends = intel-media-driver
	depends = podman
	depends = podman-compose
	depends = k3s-bin
	depends = kubectl
	depends = k9s
	depends = imagemagick
	depends = ffmpeg
	depends = aria2
	source = hostname
	source = sudoers.d-allow-passwordless-update-user
	source = coruscant-boot.nu
	source = cmdline.d-coruscant.conf
	source = sshd_config.patch
	source = authorized_keys-root
	source = authorized_keys-lucas
	sha256sums = 69c16e06ed9bd5dc608d50c03fc4911c57e0d997f19cb758fce7f3095dd21edf
	sha256sums = f9186ca0d3ee6a79010dec218a27689b15c864f9c4ea0c5ff7c481a30f27b7af
	sha256sums = 2495189ae65a95a89724bc996131f539a9fdf72e3a55f85cef935c8f87ffc665
	sha256sums = f59451827d31d56ad8bf5764f22c6e900e81683eb835c561edeb3641da83ea20
	sha256sums = c7626b080484e2d4badbd30cf671d5604a8e2e6caa9ff86c34681b95476df29d
	sha256sums = 0dc94b71f47b58efb2b1763b176599657f65272d9e0f5449b02e4a3a58e9ce2e
	sha256sums = f79ff706b2e3d873e29a78b5ea0011ef99025ae260e9fad8c0c663dd80dda0ee

pkgname = system-coruscant
