pkgbase = system-ilum
	pkgdesc = System configuration for ilum
	pkgver = 2.6.1
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	install = system-ilum.install
	arch = any
	license = GPL-3.0-or-later
	depends = system-base
	depends = nvidia-open
	depends = nvidia-utils
	depends = libva-nvidia-driver
	depends = nvidia-settings
	depends = ly
	depends = uwsm
	depends = libnewt
	depends = hyprland
	depends = hyprpolkitagent
	depends = hyprlock
	depends = hyprpaper
	depends = hyprsunset
	depends = hyprshutdown
	depends = hyprshot
	depends = xdg-desktop-portal-hyprland
	depends = hyprpicker
	depends = qt5-wayland
	depends = waybar
	depends = dunst
	depends = rofi-wayland
	depends = alacritty
	depends = ranger
	depends = feh
	depends = mpv
	depends = firefox
	depends = calibre
	depends = pipewire
	depends = wireplumber
	depends = pipewire-pulse
	depends = pavucontrol
	depends = flatpak
	depends = podman
	depends = podman-compose
	depends = dive
	depends = k9s
	depends = kubectl
	depends = steam
	depends = lib32-nvidia-utils
	depends = lib32-systemd
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = ttf-jetbrains-mono-nerd
	depends = nwg-look
	depends = papirus-icon-theme
	depends = brightnessctl
	depends = wev
	depends = vulkan-caps-viewer-wayland
	depends = imagemagick
	depends = ffmpeg
	depends = k3s-bin
	backup = etc/systemd/system/k3s-agent.service.env
	source = hostname
	source = ilum-boot.nu
	source = cmdline.d-ilum.conf
	source = mkinitcpio.d-linux.preset
	source = ly-config.ini.patch
	source = mkinitcpio.conf.patch
	source = hyprland-gaming.desktop
	source = hyprland-gaming-uwsm.desktop
	source = hyprland-tv-hdr.desktop
	source = hyprland-tv-hdr-uwsm.desktop
	source = hyprland-tv-sdr.desktop
	source = hyprland-tv-sdr-uwsm.desktop
	source = ilum-flatpak.nu
	source = k3s-agent.service
	source = k3s-agent.service.env
	sha256sums = 5a93eced3b28435ffbd7ac8450c4a3dedcb7d49f793c81a3afe68dc45c49d35a
	sha256sums = e4da347e54ed6e2071c0ba0b74e49ed6e48b522ae120d21fa12f9e8296ac1412
	sha256sums = ac0354c56a99295133737868e4fd9f52e16ca047adb3ba8d847a72875d9b1bee
	sha256sums = 38cfe7a651d156c35a258b67a8644435521b221a5b6418fa01d17f7b5beda6db
	sha256sums = a22b465ed7f43f8c7cc35747d51dac2445d103d6de8a6746a302955a348c22d6
	sha256sums = e523b7d469f6f07c7db84e1b98f19cc1e57ed9f3ccbaa5d6a13e546020a4a09c
	sha256sums = c43dc2dc7c596835c19dfed04ac79a8b032fbbe260fdfad0cc2a28200c7546b1
	sha256sums = 0d8be9e4ff9faf6b550dc821bf26a1ebffc8186ddcf7830ceffb9574c8454308
	sha256sums = 8ed5cbbae1ac4d96771a5e1462f402d481101012f127a5b1ce8f19faa3bb97f7
	sha256sums = 87ceee17f47f0adf1e4a8a8a4ca0f732eb74f8799e6bf9905ec07cc3f7ba3522
	sha256sums = 2bd282e579ac704ff6964aa2c14da76180510106469dca347033dadbe4d4eed2
	sha256sums = a17495425b995ff1496eba5dd0030c48a2143e0fb77151005932169b2256ce16
	sha256sums = c9de630e8528253da1b0a9feda75951f839fb109e8bad2d54f7368c5c815aaef
	sha256sums = 7df35658a1564cde3340bcabd2d6a696e955067fe1e6df1405eb0990472c3b90
	sha256sums = d05efcfaedfd4ecc4641fd8b88348ef051d0b0e828f795bb89682f7194ab371b

pkgname = system-ilum
