pkgbase = system-ilum
	pkgdesc = System configuration for ilum
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/istoleyurballs/pkgbuilds
	install = system-ilum.install
	arch = any
	license = GPL-3.0-or-later
	depends = system-base
	depends = grub
	depends = os-prober
	depends = grub-theme-minegrub-world-selection-git
	depends = nvidia-open
	depends = nvidia-utils
	depends = libva-nvidia-driver
	depends = nvidia-settings
	depends = ly
	depends = uwsm
	depends = libnewt
	depends = hyprland
	depends = hyprpolkitagent
	depends = hyprlock
	depends = hyprpaper
	depends = hyprsunset
	depends = hyprshot
	depends = xdg-desktop-portal-hyprland
	depends = hyprpicker
	depends = qt5-wayland
	depends = waybar
	depends = dunst
	depends = rofi-wayland
	depends = alacritty
	depends = ranger
	depends = feh
	depends = mpv
	depends = firefox
	depends = calibre
	depends = pipewire
	depends = wireplumber
	depends = pipewire-pulse
	depends = pavucontrol
	depends = flatpak
	depends = docker
	depends = docker-buildx
	depends = docker-compose
	depends = dive
	depends = k9s
	depends = kubectl
	depends = steam
	depends = lib32-nvidia-utils
	depends = lib32-systemd
	depends = ttf-jetbrains-mono-nerd
	depends = ttf-liberation
	depends = nwg-look
	depends = papirus-icon-theme
	depends = brightnessctl
	depends = wev
	depends = vulkan-caps-viewer-wayland
	depends = imagemagick
	depends = ffmpeg
	source = hostname
	source = ilum-boot.nu
	source = ly-config.ini.patch
	source = etc-default-grub.patch
	source = mkinitcpio.conf.patch
	source = hyprland-gaming.desktop
	source = hyprland-gaming-uwsm.desktop
	source = hyprland-tv-hdr.desktop
	source = hyprland-tv-hdr-uwsm.desktop
	source = ilum-flatpak.nu
	sha256sums = 5a93eced3b28435ffbd7ac8450c4a3dedcb7d49f793c81a3afe68dc45c49d35a
	sha256sums = 37a73fcbd527e7dc341719704d7ce9ddc4d43a1099b1d5e0ba664eed6d7e8390
	sha256sums = a22b465ed7f43f8c7cc35747d51dac2445d103d6de8a6746a302955a348c22d6
	sha256sums = 7974e2094b56af86fbf9338a963a8e23bee694ef42937a3661ea9bf82abd81cb
	sha256sums = e523b7d469f6f07c7db84e1b98f19cc1e57ed9f3ccbaa5d6a13e546020a4a09c
	sha256sums = 0f6aaca54c65eb01ca837e119d89a0bc56a908f06d9d7e4abfab16df921ba078
	sha256sums = 0d8be9e4ff9faf6b550dc821bf26a1ebffc8186ddcf7830ceffb9574c8454308
	sha256sums = be41cfff88d9ee1ed705bd5aee9714c50e91579ab9c465457e930a3abcb9482b
	sha256sums = 87ceee17f47f0adf1e4a8a8a4ca0f732eb74f8799e6bf9905ec07cc3f7ba3522
	sha256sums = c9de630e8528253da1b0a9feda75951f839fb109e8bad2d54f7368c5c815aaef

pkgname = system-ilum
