pkgbase = system-ilum
	pkgdesc = System configuration
	pkgver = 1.4.4
	pkgrel = 1
	url = https://github.com/icanwalkonwater/pkgbuilds
	arch = any
	license = MIT
	source = etc-hostname
	source = etc-vconsole.conf
	source = etc-locale.conf
	source = ilum-grub.nu
	source = ilum-report.nu
	source = ilum-patch.nu
	source = etc-systemd-network-89-ethernet.network
	source = sudoers.d-allow-sudo-group
	source = etc-makepkg.d-parallel.conf
	source = etc-pacreport.conf
	source = pacman-hook-ilum-base-patch.hook
	source = pacman-hook-ilum-full-patch.hook
	source = etc-pacman.conf.patch
	source = etc-xdg-reflector-reflector.conf.patch
	source = etc-locale.gen.patch
	source = etc-ly-config.ini.patch
	source = etc-default-grub.patch
	source = etc-mkinitcpio.conf.patch
	source = usr-share-wayland-sessions-hyprland-gaming.desktop
	source = usr-share-wayland-sessions-hyprland-gaming-uwsm.desktop
	source = usr-share-wayland-sessions-hyprland-tv-hdr.desktop
	source = usr-share-wayland-sessions-hyprland-tv-hdr-uwsm.desktop
	sha256sums = 5a93eced3b28435ffbd7ac8450c4a3dedcb7d49f793c81a3afe68dc45c49d35a
	sha256sums = 2c09b43e51de87a82ff5eeb1c599ce25800b8d34810f14044bf73644e9f7b742
	sha256sums = 033252d5100cbb0028d7c15e075f63e4eb5ff7f1a923cd5cb547bcfd6b024f5b
	sha256sums = c0a455bd853a098b3677de24798380f325054e27739a91eb4646392dc0f2cb43
	sha256sums = c4511e0c0d28a5cf862631f0ce72febe93adf6ffba2f7851254356191d76c3d2
	sha256sums = 80a75366a6c16ae6fd44988cbffecfd185b3b7db85b5455e76df4781f34c9d51
	sha256sums = 23dd289c12332bb8821363bcdd2d593b3171f1d5e2c5d9b9f888dbe9e981e3d4
	sha256sums = 81576086c069a2c098b510553a20c6b44b42c954d7d359991ec90db475142486
	sha256sums = 6804efe7de2a1b4cebbd36d4d7c92a1b43bffc1688c98f642bfd53303bfb1f3c
	sha256sums = 59badeaff799f030f62a24e749168adc02cd0e232f145e5f288579a6234e40b2
	sha256sums = 41cf16a331f1b3cf91f22d66df7be28ffe445747ca14ca20a2fa3ce2f1ddd024
	sha256sums = 648bfb7917803a234c8b7413fd771589e40646e2d17e31bc5d2f489e6355f20f
	sha256sums = b69640be1aa0f148678e969a675fb29f166e13d74e779c8f4d025a42a2ce3504
	sha256sums = 9d676d4e2cd9acaead7b7156c8bb25286fbeac619b84739e9e73406049402115
	sha256sums = e9bf5423102855dc6f3eed8daff2f627bd8b1d7e490bbcbb336c08a72168b1cf
	sha256sums = de92f16c90487ad558831811360d2d4ff1764b9464f8d7f40db21736232e9ab1
	sha256sums = 7974e2094b56af86fbf9338a963a8e23bee694ef42937a3661ea9bf82abd81cb
	sha256sums = aae18e369ed76e0a1aaeb7c333349b7dfb89923dc961c9fbf493a356b5da0059
	sha256sums = 0f6aaca54c65eb01ca837e119d89a0bc56a908f06d9d7e4abfab16df921ba078
	sha256sums = 0d8be9e4ff9faf6b550dc821bf26a1ebffc8186ddcf7830ceffb9574c8454308
	sha256sums = be41cfff88d9ee1ed705bd5aee9714c50e91579ab9c465457e930a3abcb9482b
	sha256sums = 87ceee17f47f0adf1e4a8a8a4ca0f732eb74f8799e6bf9905ec07cc3f7ba3522

pkgname = system-ilum-skeleton
	pkgdesc = Skeleton for ilum
	depends = 

pkgname = system-ilum-base
	install = system-ilum-base.install
	depends = system-ilum-skeleton
	depends = base
	depends = linux
	depends = linux-firmware
	depends = btrfs-progs
	depends = dosfstools
	depends = efibootmgr
	depends = grub
	depends = os-prober
	depends = reflector
	depends = pacman-contrib
	depends = smartmontools
	depends = patch
	depends = pacutils
	depends = powertop
	depends = base-devel
	depends = paru
	depends = stow
	depends = nvidia-open
	depends = nvidia-utils
	depends = intel-ucode
	depends = intel-media-driver
	depends = libva-nvidia-driver
	depends = libva-utils
	depends = vulkan-tools
	depends = fish
	depends = nushell
	depends = starship
	depends = bat
	depends = htop
	depends = nvtop
	depends = tree
	depends = sudo
	depends = git
	depends = lazygit
	depends = jq
	depends = jc
	depends = man-db
	depends = man-pages
	depends = neovim
	depends = fzf
	depends = ripgrep
	depends = zellij
	depends = fbset
	depends = fastfetch
	depends = openssh
	depends = sshfs
	depends = unzip
	depends = imagemagick
	depends = ffmpeg

pkgname = system-ilum-utils
	pkgdesc = Utility scripts for ilum
	depends = system-ilum-base

pkgname = system-ilum-full
	pkgdesc = Full desktop for ilum
	install = system-ilum-full.install
	depends = system-ilum-base
	depends = system-ilum-utils
	depends = grub-theme-minegrub-world-selection-git
	depends = ly
	depends = uwsm
	depends = libnewt
	depends = hyprland
	depends = hyprpolkitagent
	depends = hyprlock
	depends = hyprpaper
	depends = hyprsunset
	depends = hyprshot
	depends = xdg-desktop-portal-hyprland
	depends = hyprpicker
	depends = qt5-wayland
	depends = waybar
	depends = dunst
	depends = rofi-wayland
	depends = alacritty
	depends = ranger
	depends = feh
	depends = mpv
	depends = firefox
	depends = pipewire
	depends = wireplumber
	depends = pipewire-pulse
	depends = pavucontrol
	depends = nix
	depends = flatpak
	depends = docker
	depends = k9s
	depends = kubectl
	depends = steam
	depends = lib32-nvidia-utils
	depends = lib32-systemd
	depends = ttf-jetbrains-mono-nerd
	depends = ttf-liberation
	depends = nwg-look
	depends = papirus-icon-theme
	depends = brightnessctl
	depends = wev
	depends = gotop
	depends = vulkan-caps-viewer-wayland
