[Desktop Entry]
Name=Hyprland (TV SDR, uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -e -D Hyprland hyprland-tv-sdr.desktop
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
