[Desktop Entry]
Name=Hyprland (Gaming)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/usr/bin/start-hyprland -- --config %h/.config/hypr/hyprland-gaming.conf
DesktopNames=Hyprland
Type=Application
Keywords=tiling;wayland;compositor;
