[Desktop Entry]
Name=Hyprland (Gaming, uwsm-managed)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -e -D Hyprland /usr/bin/start-hyprland -- --config %h/.config/hypr/hyprland-gaming.conf
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
Keywords=tiling;wayland;compositor;
