pkgbase = archpatch
	pkgdesc = Utility to apply patch on top of pacman owned configuration files
	pkgver = 0.1.3
	pkgrel = 2
	url = https://github.com/istoleyurballs/archpatch
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	depends = pacman
	depends = pacutils
	depends = libalpm.so
	source = https://github.com/istoleyurballs/archpatch/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = b7b343fd857705c9c8e1ba1d50b0f65f8794af8ab957273cd005a2c57eeaa710

pkgname = archpatch
